@model UsuarioBancoDados

<div class="perfilBox">


    <h4>Nome</h4>
    <p>
        @Model.Nome
    </p>
   
    <h4>Email</h4>

    <p>
        @Model.Email
    </p>

<h4>Meta de Media</h4>
    <p>
        @Model.MetaMedia.ToString() %
    </p>

<h4>Media Atual</h4>
    <p>
        100 %
    </p>

    <a asp-action="EditarPerfil" class="btn btn-primary">Editar</a>


</div>