@model UsuarioBancoDados


<form asp-action="EditarPerfil" method="post">
<div class="perfilBox">


    <h4>Nome</h4>
    <p>
         <input asp-for="Nome" type="text" />
    </p>
   
    <h4>Email</h4>

    <p>
       <input asp-for="Email" type="text" />
    </p>

<h4>Meta de Media</h4>
    <p>
        <input asp-for="MetaMedia" type="numer" />
    </p>

 <input asp-for="UsuarioGuidId" type="hidden" value="@Model.UsuarioGuidId" />

    <input asp-for="UsuarioBancoDadosId" type="hidden" value="@Model.UsuarioBancoDadosId" />
</div>

    <input type="submit" value="Salvar" class="btn btn-primary" />

</form>
