@model List<FeedBack>

<div class="container">



@* foreach, mostrar todos os itens *@
<div class="feedbackIndex-container">
@foreach (var item in Model)

{
    
        <div class="feedbackIndex-container-feedback">
            <div class="feedbackIndex-textos">
        <h4>@item.Exercicio.Titulo</h4>
        <a asp-controller="Exercicios" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Exercicio.ExercicioId">Editar esse exercicio</a>
        <p>@item.Descricao</p>
        <div class="avaliacao">

        <p>Nota: Nao Avaliada</p>
        <p>Nota: Nao Avaliada</p>
        </div>
            </div>


    <div class="listaItensIcones-Box">
    <a asp-action="Edit"><i class="fa-solid fa-pen-to-square listaItensIcones"></i></a>
    <a asp-action="Details"><i class="fa-solid fa-expand listaItensIcones"></i></a>
    <a asp-action="Delete"><i class="fa-solid fa-trash-can listaItensIcones"></i></a>
    </div>

        </div>



        
   }

       </div>

       </div>