@model Usuario

<form asp-action="Registrar">

<label for="Username">Usuario</label>
@* input para Username *@
<input type="text" name="Username" id="Username" />

<label for="Password">Senha</label>

@* input para Password *@
<input type="password" name="Password" id="Password" />


@* submeter *@
<input type="submit" value="Registrar" />


</form>