@model ResolverQuestao.Models.ViewModels.ListaExercicioHomeViewModel

@{
    var exercicios = Model.Exercicios;
    Boolean temExercicios = exercicios.Count > 0;

    var listas = Model.ListaExercicios;
    Boolean temListas = listas.Count > 0;
}

<div class="home">


@if (temListas)
{
    <div class="container-home">
        <h4>Listas de Exercicios</h4>
        <ul>
            @foreach (var item in Model.ListaExercicios)
            {
                <li>
                    <a>@item.Titulo</a>
                </li>
            }

        </ul>
    </div>
}

else
{
    <div class="container-home">
        <h4 class="text-center">
            Não há listas de exercicios cadastradas
        </h4>
    </div>
}




@if (temExercicios)
{
    <div class="container-home">
        <h4>Listas de Exercicios</h4>
        <ul>
            <li>
                <a>Teste</a>
            </li>

            @foreach (var item in Model.Exercicios)
            {
                <li>
                    <a>@item.Titulo</a>
                </li>
            }
            

        </ul>
    </div>
}
else
{
    <div class="container-home">
        <h4 class="text-center">
            Não há exercicios cadastrados
        </h4>
    </div>
}

</div>


