<form asp-action="CreateExercicioJson" method="post">

    <div>
        <p>JSON</p>
        <textarea name="json" type="text">
    </textarea>
    </div>

    <div>
        <p>Materia</p>
        <input name="materia" type="text" />
    </div>

    <div>
        <p>Tipo</p>
        <input name="tipo" type="text" />
    </div>


    <button type="submit">Enviar</button>



</form>